---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import DotGrid from "../../components/DotGrid";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen overflow-hidden">
    <div class="fixed inset-0 z-0">
      <DotGrid
        client:only
        links={[
          { text: "HOME", route: "/" },
          { text: "CV", route: "/cv" },
        ]}
      />
    </div>
    <div
      class="absolute left-0 right-0 top-0 bottom-0 overflow-auto z-10 md:top-[31%]"
    >
      <div
        class="min-h-full w-full px-2 sm:px-8 sm:flex sm:justify-center"
        style="touch-action: pan-y;"
      >
        <div class="w-full sm:max-w-[85ch] lg:mt-0">
          <main class="font-['Press_Start_2P']" style="touch-action: auto;">
            <section class="space-y-8">
              {
                posts.map((post) => (
                  <a
                    href={`/blog/${post.id}/`}
                    class="block p-6 bg-white/90 rounded hover:bg-white hover:-translate-y-0.5 transition-all shadow-lg hover:shadow-xl pointer-events-auto"
                  >
                    <h2 class="text-base text-gray-800 leading-relaxed tracking-normal">
                      {post.data.title}
                    </h2>
                    <p class="mt-4 text-xs text-gray-600">
                      <time datetime={post.data.pubDate.toISOString()}>
                        {post.data.pubDate.toLocaleDateString("en-us", {
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        })}
                      </time>
                    </p>
                  </a>
                ))
              }
            </section>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
